button {
	opacity: 0.8;
}

button:hover {
	opacity: 1;
}

button:active {
	opacity: 0.5;
}

.text {
	cursor: pointer;
}

.text-wrap:hover > .text-edit {
	visibility: visible !important;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#app {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#app .loading {
	text-align: center;
}
